body {
    border-top: none;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

@media (min-width: 750px) {
    .main-nav {
        float: none;
        width: 100%;
        margin-left: 0;
        margin-right: 0;
    }
    .main-nav .site-nav li {
        display: inline-block;
        width: auto;
    }
}

main {
    font-size: 15px;
    line-height: 25px;
    font-family: $muli;
    padding-right: 0;
    padding-left: 0;

    @include zen-grid-container();
    section {
        float: none;
        width: 100%;
    }
}

a:focus {
    text-decoration: underline;
}

.body-wrapper {
    padding: 0;
}
.panel {
    padding: 80px 60px;
    overflow: hidden;
    color: white;
}
.bio {
    color: white;
    font-style: italic;
    margin-top: 3em;
}
.quote-text, .name {
    font-size: 19px;
    @include breakpoint($small) {
        font-size: 16px;
    }
}
.quote-text {
    margin-bottom: 0;
    @include breakpoint($small) {
        border-left: 2px solid white;
        padding-left: 10px;
    }
}
.name {
    margin-top: 10px;
    &:before {
        content: '—';
    }
}

.panel:not(:first-child) {
    border-top: 10px solid white;
}
.intro {
    background-color: #eee;
    color: black;
    h3 {
        color: $wwuBlue;
    }
}
.student-1 {
    background-color: #59789e;
}
.student-2 {
    background-color: $wwuLtBlue;
}
.student-3 {
    background-color: $wwuBlue;
}
.rss {
    background-color: #4e76a2;
    h3 {
        color: $wwuYellow;
        line-height: initial;
    }
    a {
        color: white;
    }
    a:hover {
        text-decoration: underline;
    }
    @include breakpoint($large) {
      #research {
        @include zen-grid-item(6, 1);
        }
        #facresearch {
            @include zen-grid-item(6, 7);
        }  
    }
    div:not(:first-child) {
        @include breakpoint($medium) {
            margin-top: 30px;
        }
    }
}

.page-last-updated,
.western-copyright {
    color: #696969;
}

.western-copyright a {
    color: $wwuBlue;
    @include breakpoint($medium) {
        float: none;
    }
}
