footer {
  clear: both;
}

subfooter {
  display: block;
  background-color: #e9e9e9;
  font-family: muli, verdana, arial, helvetica, geneva, sans-serif;
  min-height: 1em;
  font-size: 1em;
  color:#666;
    padding: 2em 0;
}

/* line 394, ../scss/main.scss */
subfooter div {
  max-width: 1060px;
  display: block;
  margin: 0 auto;
}
subfooter p, footer p {
  font-size: 1.3em;
  color: #bbb;
  padding: 0 2em;
}

  /* line 423, ../scss/_media-queries.scss */
footer p, footer p a:link, footer p a:visited{
  font-size: 1.3em;
  color: #bbb;
  padding: 0 2em;
}

footer .contact a {
    padding: 0 !important;
}

footer .social-media-nav ul, subfooter .social-media-nav ul {
    display: block;
    text-align: left;
    margin-top: 0;
}

.western-social-media {
  $social-icon-size: 30px;
  padding-left: emCalc(17);
  min-height: 55px;
  font-family: fontello;
  display: table;
  padding: 0;

  li {
    display: inline-block;
    font-size: $social-icon-size;
    height: $social-icon-size;
    padding: 10px;

    &:last-child {
      padding-right: 0;
    }
  }
  a {
    position: relative;
    display: block;
    text-indent: 100%;
    white-space: nowrap;
    overflow: hidden;
    width: $social-icon-size;
    height: $social-icon-size;
    top: -$social-icon-size;
    border-bottom: 5px solid transparent;

    &:focus {
      border-bottom: 3px solid $wwuLime;
    }
  }

  //Generate styles for each icon in social icons
  //Based on key name in _mixins.scss
  @each $key, $value in $social-icons {
    .western-#{$key}-icon:before {
      content: $value;
    }
  }
}


.contact a:focus,
.contact a:hover {
    border-bottom: 2px solid #bad80a;
}

.feedback a:focus,
.feedback a:hover {
    border-bottom: 2px solid #bad80a;
}

.learn1 a:focus,
.learn1 a:hover {
    border-bottom: 2px solid #0083d6;
}

subfooter li a:focus {
    border-bottom: 3px solid #bad80a !important;
}

.western-copyright a:focus,
.western-copyright a:hover {
    border-bottom: 2px solid #0083d6;
    color: 0083d6;
}

.western-quick-links ul li a:focus,
.western-quick-links ul li a:hover {
    border-bottom: 2px solid #0083d6;
}

.call-to-action p a:focus,
.call-to-action p a:hover {
    border-bottom: 2px solid #0083d6;
}

.bottom nav ul li a:focus,
.bottom nav ul li:hover {
    color: #bad80a !important;
    border-bottom: 2px solid #bad80a;
}

.social-media-nav a:focus,
.social-media-nav a:hover {
    border-bottom: 5px solid #bad90a !important;
}

.western-search button:focus,
.western-search button:hover {
    border: 3px solid #003f87;
}