header[role="banner"] {
	float: none;
	background-color: #E9E9E9;
	height: 100%;
	padding: 0px;
	border: none;
	margin-top: 0;
	margin-bottom: 0;

	.western-header {
	    width: 100%;
	    height: 60px;
	    position: absolute;
	    background: rgba(255,255,255,0.8);
	    border-bottom: 6px solid $wwuLtBlue;
	    top: 0;
	    left: 0;
	    z-index: 1;

	    @include breakpoint($medium) {
	    	position: initial;
	    }
	    
	    .site-name {
			@include breakpoint($large) {
				color: $wwuBlue;
				font-family: $muli;
				text-transform: uppercase;
				text-shadow: none;
				right: 0;
				left: 25px;
				bottom: -15px;
				margin-top: 10px;
				font-size: 24px;
			}
			@include breakpoint($medium) {
				display: none;
			}
		}

		nav {
			z-index: 1;
			@include breakpoint($large) {
				position: absolute;
				display: inline-block;
				bottom: 0;
				right: 0;
				top: auto;
				left: auto;
				margin-top: 0;
			}
		}
	}

	.western-logo {
		margin-top: 0;
		left: 0;
	}
	.western-quick-links {
		top: -15px;
	}
	.western-search {
		top: -19px;
	}
}

.site-header {
	@include breakpoint($large) {
		float: none;
		clear: both;
		position: relative;
		line-height: 0;
	}
	.site-name {
		text-transform: uppercase;
		@include breakpoint($large) {
			display: none;
		}
	}
}

.video-container {
	max-height: 812px;
	overflow: hidden;
	width: 100%;
	z-index: -1;

	.video-fluid-wrapper {
		position: relative;
		padding: 0;
		padding-top: 56%;
	}

	iframe {
		position: absolute;
		top: 0;
		left: 0;
		width: 100%;
		height: 100%;
	}
}

.center-content {
    max-width: 1080px;
    position: relative;
    margin: 0 auto;
}

//-------------Nav---------------//
header[role="banner"] {
	.main-nav {
		@include breakpoint($large) {
			max-width: 800px;
			margin-left:auto;
			margin-right: auto;
			margin-top: -71px;
		    padding-left: 0;
		    padding-right: 0;
		    box-sizing: content-box;
		    top: 31px;
		    right: initial;
		    border: 7px solid white;
		}
		@include breakpoint($medium) {
			position:initial;
			width: 100%;
			height: auto;
		}
		ul.site-nav {
			@include breakpoint($large) {
				width: 100%;
				background-color: white;
				position: relative;
				display: table;
			}
		}
		@include breakpoint($large) {
			li{
				margin-right: 10px;
				display: table-cell;
				text-align: center;
			}
			li:not(:last-child) {
				border-right: 7px solid white;
			}
			a {
				display: block;
				background-color: $wwuLtBlue;
				color: white;
				padding: 10px 35px;
			}
			a:hover, a:focus {
				background-color: $wwuBlue;
				transition: 0.1s;
			}
			a.is-active:before{
				border: none;
			}
		}
		@include breakpoint($medium) {
			a {
				padding: 6px 2em;
				&:before {
					border: none;
				}
			}
		}
	}

	.is_stuck {
		margin-top: 0;
		left: 0;
		right: 0;
	}
}

//Fix for site title running into quicklinks before medium breakpoint
@include breakpoint(750px 800px) {
	.western-header {
		.site-name a,
		.western-quick-links {
			font-size: 91%;
		}
	}
}
