.boxed {background-color:#E9E9E9; padding:1em; margin-bottom: 1em;}
.centered { display:block; margin:auto; text-align:center; padding: .5em 0; margin-bottom: 2em;}
.end{clear:both;}
.clear-right {clear:right}
.clear-left {clear:left}
.hide {display: none;}

.right{
	float:right;
	margin: 0 0 0 10px;
	@include breakpoint($small) {
		float: none;
		margin: 0;
	}
}
.left{
	float:left;
	margin: 0 10px 0 0;
	@include breakpoint($small) {
		float: none;
	}
}
div.right p , div.left p {
	text-align:center;
	color: #666;
	font-style: italic;
	font-size: .8em;
}

img.right{
	margin: 0 0 0 10px;
	@include breakpoint($small) {
		margin: 0;
	}
	
}
img.left{
	margin: 0 10px 0 0;
	@include breakpoint($small) {
		margin: 0;
	}
}

div.right img,
div.left img {
	@include breakpoint($small) {
		margin: 0;
	}
}

//Screen reader compatible hide-text
//Recommended by webaim.org
.acc-hide-text {
    position:absolute;
    left:-10000px;
    top:auto;
    width:1px;
    height:1px;
    overflow:hidden;
}
