@media (min-width: 750px) {
	.main-nav {
		float: none;
		width: 100%;
		margin-left: 0;
		margin-right: 0;
	}
	.main-nav .site-nav li {
		display: inline-block;
		width: auto;
	}
}

/* Customize */
div#top-nav {
	border: 1px solid white;
	padding-left: 7px; padding-right: 7px;
}
div #top-nav.bottom {
	padding: 0;
	}
#top-nav  .horizmenu {
    display: table;
	margin: auto;
}
#top-nav .horizmenu {
    width: 100%;
	list-style-image: none;
    list-style-type: none;	
}
#top-nav .horizmenu {
    margin: 0;
    padding: 0;
    text-align: left;
}
/*#top-nav ul,*/ nav ol {
    list-style: outside none none;
}
#top-nav menu, ol, ul, .item-list ul {
    padding: 0 0 0 20px;
}
div#top-nav  li {
    border-color: white;
    border-style: solid;
    border-width: 0 3px 0 0;
    display: table-cell;
    float: none;
    padding: 5px 0;
    text-align: center;
    text-transform: uppercase;
    transition: all 0.5s ease 0s;
}
#top-nav  li {
    background-color: #003f87;
    cursor: pointer;
	font-size: 1.5em;
}
#top-nav  li {
    float: left;
   /* list-style-image: none;
    list-style-type: none;*/
}
#top-nav ul {
	/*list-style-image: none;
    list-style-type: none;	*/
	}
#top-nav li a {color:white;}
#top-nav li.current-site {
	background-color: #cce6f7;
	}
#top-nav li.current-site a {
	color: #003f87;
	}
ol ul {
	margin-left: .5em;
	}
/*#top-nav li a{
	list-style-image: none;
    list-style-type: none;
	list-style:none none none;}*/
.cite {
	color: #999;
	font-style:italic;
	float:right;
	font-size: 1em;}

/* Your site's banner image */
header[role="banner"] {
	/*background-image:url('../customize/banner-image.jpg');*/
	background-color: #E9E9E9;
	height: 0px;
	padding: 0px;
}
header img {width: 96%;}
/* added to fix dl, dt, dd tags */
img.appicon {
	vertical-align:middle;
}
dl {

	}
dt {
	font-weight: bold;
	width: 28%;
	float:left;
	}
dt, dd {
	font-size: 1.6em;

	}
dd {
	font-style: italic;
	padding-bottom: 2em;
}
p aside.call-out-box-left, p aside.call-out-box-right {
	font-size: 2em;
	width: 15%;
	}

/* added to fix ul */
main ul {
    /*list-style: none outside none;*/
    padding-left: 2rem;
	
}
main ol ul, main ul ul {font-size: 1em;}
main ol li, main ul li {
    line-height: 1.5rem;}
main ul li {
	background: url("http://www.wwu.edu/wwucommon/lite/images/red_square.png") 0 6px no-repeat ; /*the third parameter lowers the dot */
	padding: 0 0 0 15px; /*the last parameter sets an offset between the dot and the first word of the list item */
}
/* added for general purpose */
.boxed {background-color:#E9E9E9; padding:1em; margin-bottom: 1em;}
.centered { display:block; margin:auto; text-align:center; padding: .5em 0; margin-bottom: 2em;}
.end{clear:both;}
.clear-right {clear:right}
.clear-left {clear:left}
.hide {display: none;}
.right{
	float:right;
	margin: 0 0 0 10px;
}
.left{
	float:left;
	margin: 0 10px 0 0;}
div.right p , div.left p {
	text-align:center;
	color: #666;
	font-style: italic;
	font-size: .8em;
}
image.right{
	margin: 0 0 0 10px;
	
}
img.left{
	margin: 0 10px 0 0;
	
}

/*.code, code {
	font-family:"Courier New", Courier, monospace;
	font-weight: 700;
	color: #cc2d30;
	margin-left: 3em;
}*/
hr {
	border: 1px solid #bad80a;
	margin:.75em 0;
}

blockquote:before, blockquote:after, q:before, q:after {
    content: "";
}
blockquote:before, blockquote:after, q:before, q:after {
    content: "";
}
.quoted {
    margin: 10px;
	background-color: #F3F3F4;
	background-image: url("..customize/quotebegin.png");
    background-position: 2% 2%, 98% 98%;
    background-repeat: no-repeat;
    border-radius: 16px 16px 0 0;
    font-style: normal;
	margin-left: 2em;
    margin-top: inherit;
    padding: 20px;
   	border-bottom-color: #666;
   	border-bottom-width:thick;
	font-style: italic;
	font-size: 1.3em;
}

blockquote, q {
    quotes: "" "";
}
blockquote, q {
    font-style: italic;
	font-size: 1.25em;
    margin: 0 0 1.5em;
 /*   padding: 0 0 0 3em;*/
}

subfooter {
  display: block;
  background-color: #e9e9e9;
  font-family: muli, verdana, arial, helvetica, geneva, sans-serif;
  min-height: 1em;
  font-size: 1em;
  color:#666;
    padding: 2em 0;
}

/* line 394, ../scss/main.scss */
subfooter div {
  max-width: 1060px;
  display: block;
  margin: 0 auto;
}
subfooter p, footer p {
  font-size: 1.3em;
  color: #bbb;
  padding: 0 2em;
}

  /* line 423, ../scss/_media-queries.scss */
  footer p, footer p a:link, footer p a:visited{
  font-size: 1.3em;
  color: #bbb;
  padding: 0 2em;
}

.tutorial-image {
  width: 100%;
  padding-top: 3em;
  padding-bottom: 3em;
}
div#rss-alerts{
		

}
/* begin styles for RSS Feed */

.rss-box {
	 margin: 0.5em;
	 /*width: 100%;*/
	 background-color: #ffffff;
	 padding: 2em;
	 border: 2px solid #cc2d30;
	 
}
#rss-alerts ul.rss-items {
	margin-top:0px;
	padding:0.5em; 0.5em;
	margin-left:0px;
	list-style-type:none;
	color: #003f87;

}
#rss-alerts ul.rss-items li{
	background: none;}

/*p.rss-title {padding:0.5em;}
.rss-title {
	font-size: 16pt;
	background-color: #fea202;
	color: #004286;
	font-weight:bold;
	text-align: left;
}*/

.rss-item  {
  font-size: 12pt;
  /*list-style-type:none;*/
  padding-bottom:none;
}

.rss-item a {
	color:#cc2d30;
	font-size: 14pt;
	/*list-style-type:none;*/
	}
	
.rss-item a:visited {

/*	color: black;*/
}
footer .contact a:hover, 
footer .contact a:focus, 
footer .contact a:active {
	color: #bad80a;
}
footer .contact a {
	padding: 0 !important;
}


/* Uncomment the following to change the background color and/or text color of the Media Stream captions */
	/*
	.module-media-stream figcaption {
		background-color:#006b3f;
		color:#fff;
	}

	.module-media-stream figcaption:before {
		border-color:#006b3f transparent;
	}
	*/

/* Uncomment the following line to remove all arrows on Media Stream captions */
	/*
	.module-media-stream figcaption:before {
		border:none;
	}
	*/
footer .social-media-nav ul, subfooter .social-media-nav ul {
    display: block;
    text-align: left;
	margin-top: 0;
}

.social-media-nav li {
	display: inline-block;
	padding: 3px;
}
.social-media-nav ul {
	max-width: 295px;
	margin-left: auto;
	margin-right: auto;
}
.social-media-nav a {
	width: 33px;
}

@media(min-width: 750px) {
	header nav {
		top: -3em !important;
	}
	.site-name {
		display :none;
	}
}

