<footer role="contentinfo">
  	<div class="wrap">
        <p class="feedback">
        	<a href="mailto:vic.kiel@wwu.edu">Feedback</a>
    	</p> 
        <p class="contact">
   	  		<a href="/hrjobs/contact.shtml">Contact Us</a> 
	  	</p>
  </div>
</footer>
