<header role="banner"  >
    <a href="http://www.wwu.edu"><span class="western-logo" title="Western Washington University"></span></a>
    <a href="/hrjobs/index.shtml" class="site-name">
    <div>
    
    
    <!-- Your site's title in the banner -->
   <!-- HR Jobs --> &nbsp
    
    
    </div></a>
</header>
